$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-color: #f2f2f2;
  color: #333;
}

canvas.drawing, canvas.drawingBuffer {
  left: 0;
  position: absolute;
  top: 0;
}

footer {
  background-color: grey;
  bottom: 0;
  color: white;
  height: 20px;
  left: 0;
  opacity: 0.9;
  padding-top: 1px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.btn {
  background-color: grey;
  border: 1px solid black;
  color: black;
  opacity: 0.8;
}

.warranty-container {
  border: 2px solid black;
  height: 270px;
  margin: 5px;
  min-height: 270px;
  overflow: auto;
  position: relative;
  width: 30%;
}

.updateButton {
  background-color: #f2f2f2;
  border-color: black;
  color: black;
  margin: 3px;
}

.modal-open {
  overflow: scroll;
}

.title {
  text-align: center;
}

.sign-up-box {
  border-left: 2px solid black;
}

.menu_title_box {
  border-bottom: 2px solid black;
}

.login-view {
  display: block;
  margin-top: 7%;
}

.logged-in-view {
  display: none;
}

.error-view {
  color: red;
  display: none;
}

#createWarranty {
  margin-left: 15px;
}

#scanWarranty {
  float: right;
  margin-bottom: 3px;
}
