$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

footer {
  background-color: grey;
  bottom: 0;
  color: white;
  height: 20px;
  left: 0;
  margin-top: 10px;
  opacity: 0.9;
  padding-top: 1px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.box {
  border: 1px solid red;
}

.title {
  text-align: center;
}
