$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

footer {
  background-color: grey;
  bottom: 0;
  color: white;
  height: 20px;
  left: 0;
  margin-top: 10px;
  opacity: 0.9;
  padding-top: 1px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.warranty-container {
  border: 1px solid green;
  height: 250px;
  margin: 5px;
  min-height: 250px;
  width: 30%;
  overflow: auto;
  position: relative;
}

.updateButton {
  background-color: white;
  border-color: white;
  color: black;
}

.modal-open {
  overflow: scroll;
}

.box {
  border: 1px solid red;
}

.title {
  text-align: center;
}

.login-view {
  display: block;
}

.logged-in-view {
  display: none;
}

.error-view {
  color: red;
  display: none;
}
